<div class="jumbotron text-center">
  <p>Welcome to your</p>
  <h1>PollingPlace</h1>
  <h3>A site where Americans can meet Candidates for upcoming Elections.</h3>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="well">
      <h2 class="text-center">Register as a Voter</h2>
      <ul>
        <li>Create Profile</li>
        <li>View Local and National Statistics</li>
        <li>View and "Vote" Local Bills Measures and Proposals</li>
        <li>View and "Vote" for Candidates</li>
      </ul>
      <br/>
      <br/>
      <br/>
      <%= link_to "Register as Voter", new_user_registration_path(plan: @voter_plan.id), class: "btn btn-lg btn-primary" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <h2 class="text-center">Register as a Candidate</h2>
      <ul>
        <li>Create Profile</li>
        <li>View Polling Statistics</li>
        <li>View Demographic Statistics</li>
        <li>Post Messages</li>
        <li>Post Pics and Videos</li>
        <li>Respond to Questions and Comments</li>
        <li>View News Articles and Videos about Your Campaign</li>
      </ul>
      <%= link_to "Register as Candidate", new_user_registration_path(@cand_plan.id), class: "btn btn-lg btn-danger" %>
    </div>
  </div>
</div>